.searchConfigDialog {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-bottom: 1em;
}

:host ::ng-deep .p-inputtext {
  width: 100%;
}

:host ::ng-deep .p-checkbox {
  margin-right: 1em;
}
