<span class="p-float-label">
  <ng-container *ngIf="vm$ | async as vm">
    <p-dropdown
      id="columnGroupSelectionDropdown"
      (onClear)="clearGroupSelection()"
      (onChange)="changeGroupSelection($event)"
      [options]="vm.allGroupKeys"
      [placeholder]="placeholderKey | translate"
      [showClear]="vm.selectedGroupKey !== defaultGroupKey"
      [(ngModel)]="vm.selectedGroupKey"
      appendTo="body"
    >
      <ng-template let-item pTemplate="item">
        {{ item ? (item | translate) : '' }}
      </ng-template>
      <ng-template let-item pTemplate="selectedItem">
        {{ item ? (item | translate) : '' }}
      </ng-template>
    </p-dropdown>
    <label *ngIf="vm.allGroupKeys.length" for="columnGroupSelectionDropdown">
      {{ 'OCX_CUSTOM_GROUP_COLUMN_SELECTOR.DROPDOWN_LABEL' | translate }}
    </label>
  </ng-container>
</span>
