<form [formGroup]="searchConfigFormGroup" [class]="'searchConfigDialog'">
  <div class="mt-2">
    <p-floatlabel variant="on">
      <input
        id="searchConfigName"
        type="text"
        pInputText
        formControlName="searchConfigName"
        [pTooltip]="'SEARCH_CONFIG.CREATE_EDIT_TOOLTIP' | translate"
        tooltipPosition="top"
      />
      <label for="searchConfigName">{{
        'SEARCH_CONFIG.SEARCH_CRITERION_NAME' | translate
      }}</label>
    </p-floatlabel>
  </div>

  <div class="flex">
    <p-checkbox
      formControlName="saveInputValues"
      [binary]="true"
      inputId="saveInputValuesId"
    >
    </p-checkbox>
    <label for="saveInputValuesId">{{
      'SEARCH_CONFIG.SAVE_INPUT_FIELDS_OPTION' | translate
    }}</label>
  </div>

  <div class="flex">
    <p-checkbox
      [binary]="true"
      formControlName="saveColumns"
      inputId="saveColumnsId"
    ></p-checkbox>
    <label for="saveColumnsId">
      <ng-container>
        {{ 'SEARCH_CONFIG.SAVE_COLUMNS_OPTION' | translate }}
      </ng-container>
      @if (frozeColumnSaveOption) {
        {{ frozeColumnSaveOptionExplanation | translate }}
      }
    </label>
  </div>
</form>
