<div
  class="flex gap-2 justify-content-end align-content-center align-items-center"
  *ocxIfPermission="'SEARCHCONFIG#VIEW'; permissions: permissions"
>
  <div *ngIf="formGroup">
    <form [formGroup]="formGroup">
      <div
        class="flex gap-2 align-content-center align-items-center"
        *ngIf="vm$ | async as vm"
      >
        <ng-container
          *ngIf="
            vm.currentConfig &&
            !vm.currentConfig.isReadonly &&
            hasValues(vm.currentConfig) &&
            !vm.editMode
          "
        >
          <button
            *ocxIfPermission="'SEARCHCONFIG#EDIT'; permissions: permissions"
            pButton
            type="button"
            icon="{{ editIcon }}"
            [pTooltip]="'SEARCH_CONFIG.EDIT.TOOLTIP' | translate"
            tooltipPosition="top"
            tooltipEvent="hover"
            (click)="onSearchConfigEdit($event, vm.currentConfig)"
            [attr.aria-label]="'SEARCH_CONFIG.EDIT.ARIA_LABEL' | translate"
          ></button>
          <button
            *ocxIfPermission="'SEARCHCONFIG#DELETE'; permissions: permissions"
            icon="{{ deleteIcon }}"
            pButton
            type="button"
            [pTooltip]="'SEARCH_CONFIG.DELETE.TOOLTIP' | translate"
            tooltipPosition="top"
            tooltipEvent="hover"
            (click)="onSearchConfigDelete($event, vm.currentConfig)"
            [attr.aria-label]="'SEARCH_CONFIG.DELETE.ARIA_LABEL' | translate"
          ></button>
        </ng-container>
        <button
          *ngIf="vm.editMode && vm.isInChargeOfEdit"
          [label]="'SEARCH_CONFIG.SAVE_EDIT.LABEL' | translate"
          icon="{{ saveIcon }}"
          pButton
          type="button"
          [pTooltip]="'SEARCH_CONFIG.SAVE_EDIT.TOOLTIP' | translate"
          tooltipPosition="top"
          tooltipEvent="hover"
          (click)="onSearchConfigSaveEdit($event, vm)"
          [attr.aria-label]="'SEARCH_CONFIG.SAVE_EDIT.ARIA_LABEL' | translate"
        ></button>
        <button
          *ngIf="vm.editMode && vm.isInChargeOfEdit"
          [label]="'SEARCH_CONFIG.CANCEL_EDIT.LABEL' | translate"
          icon="{{ stopIcon }}"
          pButton
          type="button"
          [pTooltip]="'SEARCH_CONFIG.CANCEL_EDIT.TOOLTIP' | translate"
          tooltipPosition="top"
          tooltipEvent="hover"
          (click)="onSearchConfigCancelEdit()"
          [attr.aria-label]="'SEARCH_CONFIG.CANCEL_EDIT.ARIA_LABEL' | translate"
        ></button>
        <p-dropdown
          inputId="searchConfigDropdown"
          formControlName="searchConfig"
          [options]="baseOptions.concat(vm.searchConfigs)"
          optionLabel="name"
          [placeholder]="
            (vm.editMode
              ? 'SEARCH_CONFIG.EDITING'
              : 'SEARCH_CONFIG.PLACEHOLDER'
            ) | translate: { config: vm.currentConfig?.name }
          "
          [disabled]="vm.editMode"
          (onChange)="onSearchConfigChange($event, vm)"
          appendTo="body"
          [ariaLabel]="'SEARCH_CONFIG.DROPDOWN_ARIA_LABEL' | translate"
        >
          <ng-template let-config pTemplate="selectedItem">
            <ng-container *ngIf="vm.editMode; else search_config_selected_item">
              <div class="flex align-items-center gap-2">
                {{
                  'SEARCH_CONFIG.EDITING'
                    | translate: { config: vm.currentConfig?.name }
                }}
              </div>
            </ng-container>
            <ng-template #search_config_selected_item>
              <div
                class="flex align-items-center gap-2"
                *ngIf="config.id === addSearchConfigOption.id"
              >
                {{ 'SEARCH_CONFIG.PLACEHOLDER' | translate }}
              </div>
              <div
                class="flex align-items-center gap-2"
                *ngIf="config.id !== addSearchConfigOption.id"
              >
                <div>
                  {{ config.name }}
                </div>
              </div>
            </ng-template>
          </ng-template>
          <ng-template let-config pTemplate="item">
            <div
              class="flex align-items-center gap-2 h-2rem"
              *ngIf="config.id === addSearchConfigOption.id"
            >
              <i class="{{ plusIcon }}"></i>
              {{ 'SEARCH_CONFIG.CREATE' | translate }}
            </div>
            <div
              class="flex align-items-center gap-2 h-2rem justify-content-between"
              *ngIf="config.id !== addSearchConfigOption.id"
            >
              <div>{{ config.name }}</div>
            </div>
          </ng-template>
        </p-dropdown>
      </div>
    </form>
  </div>
</div>
