<div
  class="flex gap-2 justify-content-end align-content-center align-items-center"
  *ocxIfPermission="'SEARCHCONFIG#VIEW'; permissions: permissions"
>
  <div *ngIf="formGroup">
    <form [formGroup]="formGroup">
      <div
        class="flex gap-2 align-content-center align-items-center"
        *ngIf="vm$ | async as vm"
      >
        <button
          *ngIf="vm.editMode && vm.isInChargeOfEdit"
          [label]="'SEARCH_CONFIG.SAVE_EDIT' | translate"
          icon="{{ saveIcon }}"
          pButton
          type="button"
          [pTooltip]="'SEARCH_CONFIG.SAVE_EDIT_TOOLTIP' | translate"
          tooltipPosition="top"
          tooltipEvent="hover"
          (click)="onSearchConfigSaveEdit($event, vm)"
        ></button>
        <button
          *ngIf="vm.editMode && vm.isInChargeOfEdit"
          [label]="'SEARCH_CONFIG.CANCEL_EDIT' | translate"
          icon="{{ stopIcon }}"
          pButton
          type="button"
          [pTooltip]="'SEARCH_CONFIG.CANCEL_EDIT_TOOLTIP' | translate"
          tooltipPosition="top"
          tooltipEvent="hover"
          (click)="onSearchConfigCancelEdit()"
        ></button>
        <p-dropdown
          id="searchConfigDropdown"
          formControlName="searchConfig"
          [options]="baseOptions.concat(vm.searchConfigs)"
          optionLabel="name"
          [placeholder]="
            (vm.editMode
              ? 'SEARCH_CONFIG.EDITING'
              : 'SEARCH_CONFIG.PLACEHOLDER'
            ) | translate: { config: vm.currentConfig?.name }
          "
          [disabled]="vm.editMode"
          (onChange)="onSearchConfigChange($event, vm)"
          appendTo="body"
        >
          <ng-template let-config pTemplate="selectedItem">
            <ng-container *ngIf="vm.editMode; else search_config_selected_item">
              <div class="flex align-items-center gap-2">
                {{
                  'SEARCH_CONFIG.EDITING'
                    | translate: { config: vm.currentConfig?.name }
                }}
              </div>
            </ng-container>
            <ng-template #search_config_selected_item>
              <div
                class="flex align-items-center gap-2"
                *ngIf="config.id === addSearchConfigOption.id"
              >
                {{ 'SEARCH_CONFIG.PLACEHOLDER' | translate }}
              </div>
              <div
                class="flex align-items-center gap-2"
                *ngIf="config.id !== addSearchConfigOption.id"
              >
                <div>
                  {{ config.name }}
                </div>
              </div>
            </ng-template>
          </ng-template>
          <ng-template let-config pTemplate="item">
            <div
              class="flex align-items-center gap-2 h-2rem"
              *ngIf="config.id === addSearchConfigOption.id"
            >
              <i class="{{ plusIcon }}"></i>
              {{ 'SEARCH_CONFIG.CREATE' | translate }}
            </div>
            <div
              class="flex align-items-center gap-2 h-2rem justify-content-between"
              *ngIf="config.id !== addSearchConfigOption.id"
            >
              <div>{{ config.name }}</div>
              <div *ngIf="!config.isReadonly">
                <button
                  *ocxIfPermission="
                    'SEARCHCONFIG#EDIT';
                    permissions: permissions
                  "
                  pButton
                  type="button"
                  class="p-button-rounded font-medium p-button-text p-button-icon-only"
                  [pTooltip]="'SEARCH_CONFIG.EDIT_TOOLTIP' | translate"
                  tooltipPosition="top"
                  tooltipEvent="hover"
                  (click)="onSearchConfigEdit($event, config)"
                >
                  <span class="{{ editIcon }}"></span>
                </button>
                <button
                  *ocxIfPermission="
                    'SEARCHCONFIG#DELETE';
                    permissions: permissions
                  "
                  pButton
                  type="button"
                  class="p-button-rounded font-medium p-button-text p-button-icon-only"
                  [pTooltip]="'SEARCH_CONFIG.DELETE_TOOLTIP' | translate"
                  tooltipPosition="top"
                  tooltipEvent="hover"
                  (click)="onSearchConfigDelete($event, config)"
                >
                  <span class="{{ deleteIcon }}"></span>
                </button>
              </div>
            </div>
          </ng-template>
        </p-dropdown>
      </div>
    </form>
  </div>
</div>
